@model Assignment2.Models.ViewModels.FileInputViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Upload</h1>

<h4>Upload a news for @Model.SportClubTitle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="News" method="Post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SportClubId" />
            <input type="file" name="File" />
            <input type="submit" value="Upload Now" class="btn btn-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.SportClubId">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
